@charset "UTF-8";
/*----------------------- font -----------------------*/
/*-------- breakpoints -----------------------*/
/*----------- text colors -----------------------*/
/*----------------------- background colors ----------------*/
/*----------------------- btn colors -----------------------*/
@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: currentColor;
}

address {
  font-style: normal;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  display: none;
}

.header {
  height: 230px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .header {
    height: 216px;
  }
}

.header__container {
  padding: 20px;
  height: 100%;
  background-image: url("../images/header-home-mob.jpg"), linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  opacity: 0.9;
}
@media screen and (min-width: 768px) {
  .header__container {
    background-image: url("../images/header-home-tab.jpg"), linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    background-image: url("../images/header-home-desk.jpg"), linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  }
}

.header a {
  text-decoration: initial;
  text-transform: uppercase;
}

.header .header__menu-link.is-active {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-color: #ff001b;
          text-decoration-color: #ff001b;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  gap: 5%;
  align-items: center;
}

.logo__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.logo__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.67;
  display: none;
}
@media screen and (min-width: 768px) {
  .logo__title {
    display: block;
  }
}

.header__menu-list {
  display: flex;
  align-items: center;
  gap: 10%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  white-space: nowrap;
}

.setting-box {
  display: flex;
  justify-content: space-between;
}

.sign-list {
  display: flex;
  align-items: center;
}

.movie-search__form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px;
  width: 50%;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.search__form-input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: rgb(255, 255, 255);
  background-color: inherit;
  outline: none;
  border: 0 none;
}

.search__button {
  width: 50px;
  height: 50px;
  background-color: inherit;
  border-radius: 50%;
  border: 1px;
  cursor: pointer;
}
.search__button:hover, .search__button:focus {
  background-color: rgba(29, 20, 20, 0.5);
}

.form__search-not-succuessful {
  text-align: center;
  color: #ff001b;
}

.theme-toggle {
  display: flex;
  align-items: center;
}

.gallery_main-page {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 280px);
  grid-auto-rows: 443px;
  grid-row-gap: 20px;
  justify-content: center;
  padding-top: 20px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .gallery_main-page {
    grid-template-columns: repeat(2, 336px);
    grid-auto-rows: 494px;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery_main-page {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 395px);
    grid-auto-rows: 634px;
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    justify-content: center;
    padding-top: 60px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery__item-descr-wrap {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .gallery__item-descr-wrap {
    margin-top: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__item-descr-wrap {
    margin-top: 12px;
  }
}

.gallery__item-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.16;
}
@media screen and (min-width: 768px) {
  .gallery__item-title {
    font-size: 12px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__item-title {
    font-size: 20px;
    line-height: 1.2;
  }
}

.gallery__item-genre {
  font-size: 12px;
  color: rgb(255, 107, 8);
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .gallery__item-genre {
    font-size: 12px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__item-genre {
    font-size: 20px;
    line-height: 1.2;
  }
}

.gallery__item-poster {
  height: 402;
  width: 280;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__item-poster:hover, .gallery__item-poster:focus {
  box-shadow: 15px -15px 15px rgba(247, 69, 69, 0.6);
  transform: scale(1.02);
}
@media screen and (min-width: 768px) {
  .gallery__item-poster {
    height: 455;
    width: 336;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__item-poster {
    height: 574;
    width: 395;
  }
}

.gallery__item-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__container {
  padding: 20px 0 40px;
}
@media screen and (min-width: 768px) {
  .gallery__container {
    padding: 60px 0;
  }
}

.movies-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .movies-grid {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .movies-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px 16px;
  }
}

.movie-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.movie-modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_description {
  width: 300px;
  background-color: white;
  padding: 40px;
}

.backdrop__title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  color: orange;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 10px;
  padding-top: 15px;
}

.backdrop__title::before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Lesser_Coat_of_Arms_of_Ukraine.svg/225px-Lesser_Coat_of_Arms_of_Ukraine.svg.png");
  content: "";
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.backdrop__title:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.team_name {
  padding-left: 10px;
}

.team_position {
  text-align: center;
  margin-top: 5px;
}

.command-list {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: -15px;
  justify-content: center;
}

.command-img {
  border-radius: 50%;
  border-style: inset;
  display: block;
  margin: auto;
  width: 100px;
}

.command-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.command-link:hover {
  color: #7fffd4;
  fill: orange;
}

.command-item {
  margin: 15px;
  flex-basis: calc((100% - 30px) / 1);
  background-color: rgba(0, 0, 0, 0.03);
  padding: 10px 15px;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .command-item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .command-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.command-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-open {
  overflow: hidden;
}

.backdrops {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1), visibility 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrops.is-hiddens .modals {
  transform: scale(0.6) rotate(160deg) translateY(500px);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modals {
  background: linear-gradient(0, rgb(255, 215, 0) 0%, rgb(255, 215, 0) 50%, rgb(0, 87, 183) 50%, rgb(0, 87, 183) 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 280px;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 15px;
}
@media screen and (max-width: 767px) {
  .modals {
    top: 125%;
  }
}
@media screen and (max-width: 767px) and (max-height: 610px) {
  .modals {
    top: 175%;
  }
}
@media screen and (min-width: 768px) {
  .modals {
    width: 512px;
  }
}
@media screen and (min-width: 768px) and (max-height: 768px) {
  .modals {
    top: 60%;
  }
}
@media screen and (min-width: 1024px) {
  .modals {
    padding: 50px;
    width: 900px;
  }
}

.is-hiddens {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.pagination-section {
  display: flex;
  text-align: center;
  justify-content: center;
}

.pagination ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 8px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.pagination ul li {
  color: rgb(0, 0, 0);
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.3s ease;
}

.pagination ul li.numb {
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 5px;
  line-height: 45px;
  border-radius: 7px;
}

.pagination ul li.numb.first {
  margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
  margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
  font-size: 22px;
  cursor: default;
}

.pagination ul li.btn {
  padding: 0 20px;
  border-radius: 8px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
  color: rgb(255, 255, 255);
  background: rgb(255, 107, 8);
}

.footer-section {
  background-color: rgb(247, 247, 247);
  font-style: 400px;
  padding-top: 29px;
  padding-bottom: 29px;
  margin-top: 40px;
}

.footer-section__box {
  font-family: "Roboto", sans-serif;
  color: rgb(84, 84, 84);
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-section__box {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section__box {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 1.17;
  }
}

.footer-section__text {
  display: block;
}
@media screen and (max-width: tablet) {
  .footer-section__text {
    margin-bottom: 10px;
  }
}

.footer-section__acсent {
  color: currentColor;
  transition: inherit;
}

.footer-section__acсent:hover {
  color: rgb(255, 107, 8);
}

.footer-section__acсent:focus {
  color: rgb(255, 107, 8);
}

.footer-section__icon {
  margin-left: 10px;
  margin-right: 10px;
  -webkit-animation: beat 0.4s infinite alternate;
          animation: beat 0.4s infinite alternate;
  transform-origin: center;
}

@-webkit-keyframes beat {
  to {
    transform: scale(1.3);
  }
}

@keyframes beat {
  to {
    transform: scale(1.3);
  }
}
.footer-section__secondary {
  display: block;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=index.css.map */