.container {
  width: 100%;
  margin: 0 auto;

  @include minBreakpoints(320px) {
    width: 320px;
  }

  @include minBreakpoints($tablet) {
    width: $tablet;
    // padding: 0 32px;
  }

  @include minBreakpoints($desktop) {
    width: $desktop;
    // padding: 0 16px;
  }
}
