p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: currentColor;
}

address {
  font-style: normal;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.li {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: $font-primary;
  font-weight: 500;

  color: $text-color-primary;
  background-color: #ffffff;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
