<section class="container">
  <div class="gallery_main-page">
    <div class="gallery__item">
      <a class="gallery__link" href="">
        <img
          class="gallery__image"
          src="https://cdn.pixabay.com/photo/2019/05/14/16/43/himilayan-blue-poppy-4202825__340.jpg"
          alt="Image description"
        />
      </a>
    </div>
    <div class="gallery__item">
      <a class="gallery__link" href="">
        <img
          class="gallery__image"
          src="https://cdn.pixabay.com/photo/2019/05/14/16/43/himilayan-blue-poppy-4202825__340.jpg"
          alt="Image description"
        />
      </a>
    </div>
    <div class="gallery__item">
      <a class="gallery__link" href="">
        <img
          class="gallery__image"
          src="https://cdn.pixabay.com/photo/2019/05/14/16/43/himilayan-blue-poppy-4202825__340.jpg"
          alt="Image description"
        />
      </a>
    </div>

    <div class="gallery__item">
      <a class="gallery__link" href="">
        <img
          class="gallery__image"
          src="https://cdn.pixabay.com/photo/2019/05/14/16/43/himilayan-blue-poppy-4202825__340.jpg"
          alt="Image description"
        />
      </a>
    </div>
    <div class="gallery__item">
      <a class="gallery__link" href="">
        <img
          class="gallery__image"
          src="https://cdn.pixabay.com/photo/2019/05/14/16/43/himilayan-blue-poppy-4202825__340.jpg"
          alt="Image description"
        />
      </a>
    </div>
    <div class="gallery__item">
      <a class="gallery__link" href="">
        <img
          class="gallery__image"
          src="https://cdn.pixabay.com/photo/2019/05/14/16/43/himilayan-blue-poppy-4202825__340.jpg"
          alt="Image description"
        />
      </a>
    </div>
  </div>
</section>
