<footer class="footer-section">
  <div class="container">
    <div class="footer-section__box">
      <span class="footer-section__text"
        >© 2022 | All Rights Reserved |&nbsp;</span
      >
      <span class="footer-section__secondary">
        Developed with
        <svg class="footer-section__icon" width="14px" height="13px">
          <use href="/src/images/icons.svg#icon-heart"></use>
        </svg>
        by &nbsp;<a
          href="/"
          class="footer-section__acсent"
          id="open-team-modal"
        >
          GoIT Students</a
        >
      </span>
    </div>
  </div>
</footer>
