<header>
  <div class="container header__container">

    

    <div class="navigation">
        <a class="logo header__logo  js-logo" href="#header">
            <svg class="icon logo__icon">
            <use href="./images/icons.svg#icon-search">
            </use> </button>
            </svg>
         </a>

      <ul class=" menu__header">
        <li class=" menu__header-item header__home js-menu-home">
            <a href="#home" data-menu-home> home</a>
        </li>

        <li class=" menu__header-item  header__my-library js-menu-my-library">
            <a href="#my-library" data-menu-my-library >
                my library</a>
        </li>
      </ul>
    </div>

    <div class="movie-search-form">
         <form class="js-search-form search__form-input" id="js-search-form">
        <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
        />

  <button type="submit" class="js-submit__search_btn search__button  ">
      <svg class="icon icon-search">
        <use href="./images/icons.svg#icon-search">
      </use> </button>
</form>
    </div>
    <div class="form__search-not-succuessful">
        <p> Search result not successful. Enter the correct movie name and </p>

    </div>
  </div>
</header>
