<header>
  <div class="container header__container">
    <div class="navigation">
      <a class="logo header__logo js-logo" href="./index.html">
        <svg width="24px" height="24px">
          <use
            class="icon logo__icon"
            href="./images/icons.svg#icon-film"
          ></use>
        </svg>
      </a>

      <ul class="menu__header-list">
        <li class="menu__header-item header__home js-menu-home">
          <a href="./index.html" data-menu-home class="link menu__header-link">
            home</a
          >
        </li>
        <li class="menu__header-item header__my-library js-menu-my-library">
          <a
            href="./myLibrary.html"
            data-menu-my-library
            class="link menu__header-link"
          >
            my library</a
          >
        </li>
      </ul>
      <div class="menu__header--underline-my-library"></div>
      <!-- //red line under active home button -->
    </div>

    <!-- radiobuttons for filter   -->
    <div class="my-library-buttons">
      <form class="js-filter-my-library my-library__filter">
        <label class="my-library__filter-label">
          <input type="radio" name="filter" value="all" checked />
          <span class="my-library__filter-btn filter__btn-all">All</span>
        </label>

        <label class="my-library__filter-label">
          <input type="radio" name="filter" value="isWatched" />
          <span class="my-library__filter-btn filter__btn-watched"
            >Watched</span
          >
        </label>

        <label class="my-library__filter-label">
          <input type="radio" name="filter" value="isQueued" />
          <span class="my-library__filter-btn filter__btn-queued">Queued</span>
        </label>
      </form>
      <!-- <button type="button" class=" button btn__watched js-btn-watched">Watched</button>
      
        <button type="button" class=" button btn__queue js-btn-watched">Queue</button> -->
    </div>
  </div>
</header>
