<header>

    <div class="container header__container">

    <div class="navigation">
        <a class="logo header__logo  js-logo" href="./index.html">
            <svg width= '24px' height="24px"  >
            <use class="icon logo__icon" href="./images/icons.svg#icon-film">
            </use> </button>
            </svg>
         </a>

        <ul class=" menu__header-list">
            <li class=" menu__header-item header__home js-menu-home">
                <a href="./index.html" data-menu-home  class="link menu__header-link" > home</a>
            </li>
            <li class=" menu__header-item 
             header__my-library js-menu-my-library">
                <a href="./myLibrary.html" data-menu-my-library  class="
                   link menu__header-link" >
                    my library</a>
            </li>
        </ul>
     <div class="menu__header--underline-my-library"></div> <!-- //red line under active home button -->
    </div>

    <div>

        <button type="button" class=" button btn__watched js-btn-watched">Watched</button>
      
        <button type="button" class=" button btn__queue js-btn-watched">Queue</button>
    </div>
  
    

  </div>
</header>
