<div class="backdrops is-hiddens" data-modals>
  <div class="modals">
    <h2 class="backdrop__title">GoIT</h2>
    <ul class="command-list">
      <li class="command-item">
        <div>
          <img
            class="command-img"
            src="https://ca.slack-edge.com/T03R6S2NBAP-U03RTE29M44-6aff5617af25-512"
            alt="Dariia Shenkevych"
          />
          <p class="team_position">Team lead</p>
          <a class="command-link" href="https://github.com/DariaTufar">
            <svg class="command-icon" width="30" height="30">
              <use href="../src/images/icons.svg#github"></use>
            </svg>
            <p class="team_name">Dariia Shenkevych</p>
          </a>
        </div>
      </li>

      <li class="command-item">
        <img
          class="command-img"
          src="https://ca.slack-edge.com/T03R6S2NBAP-U048JRC4RDE-411cc8eb36df-512"
          alt="Anna Polishchyk"
        />
        <p class="team_position">Scrum</p>
        <a class="command-link" href="https://github.com/Anna-Polishchyk">
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/icons.svg#github"></use>
          </svg>
          <p class="team_name">Anna Polishchyk</p></a
        >
      </li>

      <li class="command-item">
        <img
          class="command-img"
          src="https://ca.slack-edge.com/T03R6S2NBAP-U03RPKESUF4-b780f903dae1-512"
          alt="Andry"
        />
        <p class="team_position">Developer</p>
        <a class="command-link" href="https://github.com/Andry1343">
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/icons.svg#github"></use>
          </svg>
          <p class="team_name">Andry Gavrelets</p></a
        >
      </li>

      <li class="command-item">
        <img
          class="command-img"
          src="https://ca.slack-edge.com/T03R6S2NBAP-U03S23DF0E5-8869c88d7604-512"
          alt="Marina Sereda"
        />
        <p class="team_position">Developer</p>
        <a class="command-link" href="https://github.com/marisereda">
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/icons.svg#github"></use>
          </svg>
          <p class="team_name">Marina Sereda</p></a
        >
      </li>

      <li class="command-item">
        <img
          class="command-img"
          src="https://ca.slack-edge.com/T03R6S2NBAP-U03RJ3V9H6E-9ccab2cd97ce-512"
          alt="Rostyslav"
        />
        <p class="team_position">Developer</p>
        <a class="command-link" href="https://github.com/RostyslavR">
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/icons.svg#github"></use>
          </svg>
          <p class="team_name">Rostyslav</p></a
        >
      </li>

      <li class="command-item">
        <img
          class="command-img"
          src="https://ca.slack-edge.com/T03R6S2NBAP-U03RFTKEFTL-bf25d4ea4df8-512"
          alt="Kolomiets Mykola"
        />
        <p class="team_position">Developer</p>
        <a class="command-link" href="https://github.com/Nickolya0604">
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/icons.svg#github"></use>
          </svg>
          <p class="team_name">Kolomiets Mykola</p></a
        >
      </li>
      <li class="command-item">
        <img
          class="command-img"
          src="https://ca.slack-edge.com/T03R6S2NBAP-U03RLJ8MY5B-daa3e3b0745c-512"
          alt="Svitlana"
        />
        <p class="team_position">Developer</p>
        <a class="command-link" href="https://github.com/svitlanapl">
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/icons.svg#github"></use>
          </svg>
          <p class="team_name">Svitlana</p></a
        >
      </li>
      <li class="command-item">
        <img
          class="command-img"
          src="https://ca.slack-edge.com/T03R6S2NBAP-U03RWK90TSM-89d1ce9f7350-512"
          alt="Valerii Droniak"
        />
        <p class="team_position">Developer</p>
        <a class="command-link" href="https://github.com/ValeriiDroniak">
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/icons.svg#github"></use>
          </svg>
          <p class="team_name">Valerii Droniak</p></a
        >
      </li>

      <li class="command-item">
        <img
          class="command-img"
          src="https://ca.slack-edge.com/T03R6S2NBAP-U03RKU98G3F-7c9e2f19514c-512"
          alt="Ekaterina Silchenko"
        />
        <p class="team_position">Developer</p>
        <a
          class="command-link"
          href="https://github.com/EkaterinaSilchenko1983"
        >
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/icons.svg#github"></use>
          </svg>
          <p class="team_name">Ekaterina Silchenko</p></a
        >
      </li>

      <li class="command-item">
        <img
          class="command-img"
          src="https://upload.wikimedia.org/wikipedia/commons/0/0d/SBandera.jpg"
          alt="Stepan Bandera"
        />
        <p class="team_position">SPECIAL GUEST STAR</p>
        <a
          class="command-link"
          href="https://uk.wikipedia.org/wiki/%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%81%D1%8C%D0%BA%D0%B0_%D0%BF%D0%BE%D0%B2%D1%81%D1%82%D0%B0%D0%BD%D1%81%D1%8C%D0%BA%D0%B0_%D0%B0%D1%80%D0%BC%D1%96%D1%8F"
        >
          <svg class="command-icon" width="30" height="30">
            <use href="../src/images/icons.svg#upa"></use>
          </svg>
          <p class="team_name">Stepan Bandera</p></a
        >
      </li>
    </ul>
  </div>
</div>
