<div class="modal_movie">
    <div class="modal_description">

    </div>
</div>


<!-- <div class="modal_description">
    <h1 class="movie_title"></h1>
    <a class="gallery__item" href="">
        <img class="gallery__image" src="" alt="" />
    </a>
    <ul>
        <li class="movie_description">Vote / Votes<span class="movie_vote"></span><span
                class="movie_description"></span></li>
        <li class="movie_description">Popularity<span class="movie_value"></span></li>
        <li class="movie_description">Original Title<span class="movie_value"></span></li>
        <li class="movie_description">Genre<span class="movie_value"></span></li>
    </ul>
    <h2></h2>
    <p class="about-text"></p>

    <button>ADD TO WATCHED</button>
    <button>ADD TO QUEUE</button>
</div> -->

