<section class="pagination-section">
<div class="pagination">
    <ul>
        <!-- <li class="btn pagination-list__item"><span><i class="fas fa-angel-left"></i> Previous</span></li>
        <li class="pagination-list__item number active"><span>1</span></li>
        <li class="pagination-list__item number"><span>2</span></li>
        <li class="pagination-list__item dots"><span>...</span></li>
        <li class="pagination-list__item number"><span>4</span></li>
        <li class="pagination-list__item number"><span>5</span></li>
        <li class="pagination-list__item dots"><span>...</span></li>
        <li class="pagination-list__item number"><span>7</span></li>
        <li class="btn pagination-list__item"><span>Next <i class="fas fa-angel-right"></i></span></li> -->
    </ul>
</div>
</section>