// =========== Styles for for firebase form ==========
.firebaseui-id-submit.firebaseui-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored,
.firebaseui-id-secondary-link.firebaseui-button.mdl-button.mdl-js-button.mdl-button--primary {
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: white;
  color: black;

  &:hover {
    background-color: $accent-color-primary;
    border: 1px solid $accent-color-primary;

    color: white;
  }
}
.login-user__ui {
  z-index: 10;
}

.icon-sign {
  cursor: pointer;
}

.firebaseui-link.firebaseui-id-secondary-link {
  color: $accent-color-primary;
}
