.films-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px 16px;
  }
}
