.gallery_main-page {
  display: grid;
  width: 100%;
  // grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
  grid-template-columns: repeat(1, 280px);
  grid-auto-rows: 443px;
  // margin-bottom: 20px;
  // grid-column-gap: 16px;
  grid-row-gap: 20px;
  justify-content: center;
  padding-top: 20px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    grid-template-columns: repeat(2, 336px);
    grid-auto-rows: 494px;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    padding-top: 60px;
  }

  @include desktop {
    display: grid;
    width: 100%;
    // grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
    grid-template-columns: repeat(3, 395px);
    grid-auto-rows: 634px;
    grid-column-gap: 16px;
    grid-row-gap: 32px;
    justify-content: center;
    padding-top: 60px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }
}

// .gallery__item {
//   position: relative;
//   // box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
//   //   0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
// }

.gallery__item-descr-wrap {
  margin-top: 10px;

  @include tablet {
    margin-top: 8px;
  }

  @include desktop {
    margin-top: 12px;
  }
}

.gallery__item-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.16;

  @include tablet {
    font-size: 12px;
    line-height: 1.2;
  }

  @include desktop {
    font-size: 20px;
    line-height: 1.2;
  }
}

.gallery__item-genre {
  font-size: 12px;
  color: $accent-color-primary;
  line-height: 1.2;

  @include tablet {
    font-size: 12px;
    line-height: 1.2;
  }

  @include desktop {
    font-size: 20px;
    line-height: 1.2;
  }
}

.gallery__item-poster {
  height: 402;
  width: 280;
  object-fit: cover;
  border-radius: 5px;

  transition: transform $animation;

  &:hover,
  &:focus {
    box-shadow: (15px -15px 15px rgba(247, 69, 69, 0.6));

    transform: scale(1.02);
  }
  @include tablet {
    height: 455;
    width: 336;
  }

  @include desktop {
    height: 574;
    width: 395;
  }
}

.gallery__item-link {
  display: block;
  text-decoration: none;
  height: 100%;
}
