.gallery__container {
  padding: 20px 0 40px;

  @include tablet {
    padding: 60px 0;
  }
}

.movies-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px 16px;
  }
}

.movie-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal_description {
  width: 300px;
  background-color: white;
  padding: 40px;
}
