
.gallery__container {
    max-width: 1280px;
    padding: 60px 32px;
}

.gallery__list {
    // display: flex;
    // flex-wrap: wrap;
    // flex-basis: calc(100% / 3);
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    gap: 15px;
}

// .gallery__item {
//     display: flex;
//     flex-wrap: wrap;
//     flex-basis: calc((100% / 3) - 30px);
// }

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.gallery_main-page {
  outline: brown;
  display: grid;
  // max-width: 1280px;
  // grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
  grid-template-columns: repeat(3, 395px);
  grid-auto-rows: 634px;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  justify-content: center;
  padding-top: 60px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image {
  height: 634;
  width: 393;
  object-fit: cover;
  // transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}