.header {
  height: 230px;
  font-family: $font-primary;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: $light-color-primary;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.9;

  background-image: url('../images/header-home-mob.jpg'), $bg-gradient;
  @include retina {
    background-image: url('../images/header-home-mob@2x.jpg'), $bg-gradient;
  }

  @include tablet {
    height: 216px;
    background-image: url('../images/header-home-tab.jpg'), $bg-gradient;
    @include retina {
      background-image: url('../images/header-home-tab@2x.jpg'), $bg-gradient;
    }
  }

  @include desktop {
    background-image: url('../images/header-home-desk.jpg'), $bg-gradient;
    @include retina {
      background-image: url('../images/header-home-desk@2x.jpg'), $bg-gradient;
    }
  }

  &.library {
    background-image: url('../images/header-library-mob.jpg'), $bg-gradient;
    @include retina {
      background-image: url('../images/header-library-mob@2x.jpg'), $bg-gradient;
    }

    @include tablet {
      height: 216px;
      background-image: url('../images/header-library-tab.jpg'), $bg-gradient;
      @include retina {
        background-image: url('../images/header-library-tab@2x.jpg'),
          $bg-gradient;
      }
    }

    @include desktop {
      background-image: url('../images/header-library-desk.jpg'), $bg-gradient;
      @include retina {
        background-image: url('../images/header-library-desk@2x.jpg'),
          $bg-gradient;
      }
    }
  }
}

.header__container {
  padding: 20px;
  height: 100%;
}

.header__menu-list {
  display: flex;
  align-items: center;
  gap: 10%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.67;
  white-space: nowrap;
}

.header .header__menu-link {
  display: block;
  text-decoration: initial;
  text-transform: uppercase;
  color: $bg-primary-light-color;
  &:focus,
  &:hover {
    border: 1px solid $accent-color-primary;
    background: $accent-color-primary;
    box-shadow: 0px 8px 43px $accent-color-primary;
    border-radius: 5px;
  }
  &.is-active {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #ff001b;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  // gap: 20%;
}

.header__logo {
  display: flex;
  gap: 5%;
  align-items: center;
  text-decoration: none;
  &:focus,
  &:hover {
    color: $accent-color-primary;
    text-decoration: none;
  }
}

.logo__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.logo__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.67;
  text-transform: uppercase;
  display: none;
  &:focus,
  &:hover {
    box-shadow: inset 0px 8px 43px $accent-color-primary;
    border-radius: 5px;
  }
  @include tablet {
    display: block;
  }
}

.setting-box {
  display: flex;
  justify-content: end;
  align-items: center;
  // margin-bottom: 10px;
  // position: absolute;
  // left: 10%;
}
.sign-list {
  display: flex;
  align-items: center;
}

.movie-search__form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px;
  width: 50%;
  border-bottom: 1px solid $light-color-primary;
}

.search__form-input {
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.14;
  color: $light-color-primary;
  background-color: inherit;
  outline: none;
  border: 0 none;
}

.search__button {
  width: 50px;
  background-color: inherit;
  border-radius: 25%;
  border: 1px;
  cursor: pointer;
  &:hover,
  &:focus {
    // border: 1px solid $accent-color-primary;
    // background: $accent-color-primary;
    box-shadow: 0px 8px 43px $accent-color-primary;
  }
}

.form__search-not-succuessful {
  text-align: center;
  color: #ff001b;
}

.header__filter-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.header.library .header__filter-box {
  justify-content: end;
}

.theme-toggle {
  display: flex;
  align-items: center;
}

//dark theme*****
body.dark {
  background-color: #292c35;
}

.chenge-theme-togle {
  margin-right: 60px;
  margin-top: 20px;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 40px;
  height: 21px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 17px;
  height: 17px;
  background-color: $accent-color-primary;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(19px);
}

.icon-sun {
  fill: yellow;
}

.icon-moon {
  fill: $light-color-primary;
}

.my-library__filter-label {
  cursor: pointer;
  &:focus,
  &:hover {
    // border: 1px solid $accent-color-primary;
    background: $accent-color-primary;
    box-shadow: 0px 8px 43px $accent-color-primary;
    border-radius: 5px;
  }
}
