.login-user {
  //   margin-left: auto;
}

.login-user__ui {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
