.backdrop__title {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  color: orange;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 10px;
  padding-top: 15px;
}

.backdrop__title::before {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Lesser_Coat_of_Arms_of_Ukraine.svg/225px-Lesser_Coat_of_Arms_of_Ukraine.svg.png');
  content: '';
  // background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Stamp_of_Ukraine_s1985.jpg/1280px-Stamp_of_Ukraine_s1985.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.backdrop__title:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.team_name {
  padding-left: 10px;
}

.team_position {
  text-align: center;
  margin-top: 5px;
}

.command-list {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: -15px;
  justify-content: center;
}
.command-img {
  border-radius: 50%;
  border-style: inset;
  display: block;
  margin: auto;
  width: 100px;
}
.command-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 350ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #7fffd4;
    fill: orange;
  }
}
.command-item {
  margin: 15px;
  flex-basis: calc((100% - 30px) / 1);
  background-color: rgba(0, 0, 0, 0.03);
  padding: 10px 15px;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1024px) {
    flex-basis: calc((100% - 90px) / 3);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  // border-radius: 0 50% 50% 50%;
}
.modal-open {
  overflow: hidden;
}
.backdrops {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 750ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hiddens {
    .modals {
      transform: scale(0.6) rotate(160deg) translateY(500px);
      transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.modals {
  background: linear-gradient(
    0,
    rgba(255, 215, 0, 1) 0%,
    rgba(255, 215, 0, 1) 50%,
    rgba(0, 87, 183, 1) 50%,
    rgba(0, 87, 183, 1) 100%
  );
  position: absolute;
  left: 50%;
  top: 50%;

  @media screen and (max-width: 767px) {
    top: 125%;
    @media screen and (max-height: 610px) {
      top: 175%;
    }
  }

  width: 280px;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    width: 512px;
    @media screen and (max-height: 768px) {
      top: 60%;
    }
  }

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 15px;

  @media screen and (min-width: 1024px) {
    padding: 50px;
    width: 900px;
  }
}

.is-hiddens {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
