.scroll-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: -50px;

    cursor: pointer;

    height: 50px;
    width: 100px;

    color: $accent-color-light;
    fill: $accent-color-light;
    background-color: $accent-color-primary;

    border-radius: 10px;

    font-weight: 700;
    font-size: 20px;

    transition: all 250ms linear;

    &:hover {
        box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
    }
}

.scroll-btn {
    position: fixed;
    right: 10px;
    bottom: 170px;
    width: 50px;
    border-radius: 50%;
    margin-left: auto;
    opacity: 1;

    @include mobile {
        bottom: 130px;
    }

    @include tablet {
        right: 100px;
    }
}

.scroll-btn.visually-hidden {
    bottom: -20px;
    opacity: 0;



}